* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(65, 65, 65);
  font-size: 15px;
}

.slider-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
    align-items: center;
}

.slider {
  width: 45vw;
  min-width: 28em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.images {
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

.buttons {
  width: 38%;
  height: 7vh;
  display: grid;
  grid-template-columns: repeat(6, 1.4em);
  justify-content: end;
  align-items: center;
  order: 1;
}


.text {
  width: 62%;
  height: 7vh;
  overflow: hidden;
}

.button {
  padding: .3em;
  display: inline-block;
  cursor: pointer;
}

.button:hover .circle {
  background-color: rgb(176, 76, 9);
}
.button:active .circle {
  background-color: rgb(255, 255, 255);
}

.circle {
  width: .6em;
  height: .6em;
  background-color: rgb(231, 204, 50);
  border-radius: 50%;
  display: inline-block;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.text-content span:not(:last-child){
  margin-right: 2em;
}


.image-2,
.text-content-2 {
  transform: translateY(calc(100% - (100% * 2)));
}
.image-3,
.text-content-3 {
  transform: translateY(calc(100% - (100% * 3)));
}
.image-4,
.text-content-4 {
  transform: translateY(calc(100% - (100% * 4)));
}
.image-5,
.text-content-5 {
  transform: translateY(calc(100% - (100% * 5)));
}
.image-6,
.text-content-6 {
  transform: translateY(calc(100% - (100% * 6)));
}


.image {
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: #202020;
  animation-name: slideOut;
  animation-duration: .4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  filter: blur(0em);
}


.text-content {
  display: flex;
  align-items: center;
  margin-left: 0;
  font-size: 1.2em;
  height: 100%;
  color: white;
  animation-name: slideOutText;
  animation-duration: .4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.loader {
  opacity: 1;
  animation-delay: .4s;
  transform: translateY(calc(100% - (100% * 7)));
}

/* active button */
#slide-1:checked~.buttons>label:nth-child(1) .circle,
#slide-2:checked~.buttons>label:nth-child(2) .circle,
#slide-3:checked~.buttons>label:nth-child(3) .circle, 
#slide-4:checked~.buttons>label:nth-child(4) .circle, 
#slide-5:checked~.buttons>label:nth-child(5) .circle, 
#slide-6:checked~.buttons>label:nth-child(6) .circle {
  background-color: rgb(176, 76, 9);
  outline: .2em solid #e7cc32;
}
/* active slide */
#slide-1:checked~.images>.image-1,
#slide-2:checked~.images>.image-2,
#slide-3:checked~.images>.image-3, 
#slide-4:checked~.images>.image-4, 
#slide-5:checked~.images>.image-5, 
#slide-6:checked~.images>.image-6 {
  animation-name: slideIn;
}
/* active text */
#slide-1:checked~.text>.text-content-1,
#slide-2:checked~.text>.text-content-2,
#slide-3:checked~.text>.text-content-3, 
#slide-4:checked~.text>.text-content-4, 
#slide-5:checked~.text>.text-content-5, 
#slide-6:checked~.text>.text-content-6 {
  animation-name: slideInText;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    filter: blur(20em);
  }
  100% {
    opacity: 1;
    filter: blur(0em);
  }
}
@keyframes slideOut {
  from {
    opacity: 1;
    filter: blur(0em);
  }
  to {
    opacity: 0;
    filter: blur(20em);
  }
}
@keyframes slideInText {
  0% {
    margin-left: 20em;
  }
  5% {
    margin-left: 0em;
  }
  100% {
    margin-left: 0em;
  }
    
}
@keyframes slideOutText {
  0% {
    margin-left: 0em;
  }
  5% {
    margin-left: 0em;
  }
  100% {
    margin-left: -20em;
  }
}


@media (max-width: 28em) {
  .slider {
      min-width: 100%;
      display: flex;
      flex-wrap: wrap;

      flex-direction: column;
    }
    .buttons {
      align-self: center;
    }

    .images {
      height: 100vw;
    }
    .text {
      width: 100%;
      padding-left: .8em;
      order:2;
    }
}